/env/
*/dist/
dist/
*/build/
build/
/.vscode/
/__pycache__/
*/__pycache__/
*/*/__pycache__/
.env
.env copy
*.xlsx
*.zip
*.db
*.db-journal
/src/test.py
/src/test2.py
/src/test3.py
*.spec
icon.ico
test_test3.py